---
layout: page-custom
title: About DKKMA
pagetitle: Fueled by Passion
slogan: "Culture, Values, & Team"
excerpt: Expert Development & Inbound Marketing Consultant in London, UK.
permalink: /about/
---

<div class="subsection first">
  <div class="container">

    <h2 class="first">Our Past</h2>
    <p>DKKMA&rsquo;s creative roots encompass each individual that contributes to our distinct, vibrant culture and work. Our initial projects were focused on web design and branding but we soon realized that everything goes hand in hand: design, development
      and inbound marketing.</p>

    <p>Since 2006,
      <strong>we're helping companies of all sizes succeed.</strong>
    </p>
  </div>
</div>

<div class="subsection center">
  <div class="container">

    <h2>Working with clients in…</h2>

    <p>Although we’re located in London, UK, our work spans the globe. Conference calls with clients in faraway places are part of a normal day at the agency.</p>

    <div class="row about text-center countries hidden-xs">
      <div class="col-sm-1">
        <div class="flag-height">
          <img class="flag grey" alt="UK" title="UK" src="{{ site.img }}gb.png">
          <br>
        </div>
        <small>
          UK
        </small>
      </div>
      <div class="col-sm-1">
        <div class="flag-height">
          <img class="flag grey" alt="USA" title="USA" src="{{ site.img }}us.png">
        </div>
        <small>
          US & A
        </small>
      </div>
      <div class="col-sm-1">
        <div class="flag-height">
          <img class="flag grey" alt="Canada" title="Canada" src="{{ site.img }}ca.png">
        </div>
        <small>
          Canada
        </small>
      </div>
      <div class="col-sm-1">
        <div class="flag-height">
          <img class="flag grey" alt="France" title="France" src="{{ site.img }}fr.png">
        </div>
        <small>
          France
        </small>
      </div>
      <div class="col-sm-1">
        <div class="flag-height">
          <img class="flag grey" alt="Lëtzebuerg" title="Lëtzebuerg" src="{{ site.img }}lu.png">
        </div>
        <small>
          Lëtzebuerg
        </small>
      </div>
      <div class="col-sm-1">
        <div class="flag-height">
          <img class="flag grey" alt="Italia" title="Italia" src="{{ site.img }}it.png">
        </div>
        <small>
          Italia
        </small>
      </div>
      <div class="col-sm-1">
        <div class="flag-height">
          <img class="flag grey" alt="Deutschland" title="Deutschland" src="{{ site.img }}de.png">
        </div>
        <small>
          Deutschland
        </small>
      </div>
      <div class="col-sm-1">
        <div class="flag-height">
          <img class="flag grey" alt="Australia" title="Australia" src="{{ site.img }}au.png">
        </div>
        <small>
          Australia
        </small>
      </div>
      <div class="col-sm-1">
        <div class="flag-height">
          <img class="flag grey" alt="日本" title="日本" src="{{ site.img }}jp.png">
        </div>
        <small>
          日本
        </small>
      </div>
      <div class="col-sm-1">
        <div class="flag-height">
          <img class="flag grey" alt="Singapore" title="Singapore" src="{{ site.img }}sg.png">
        </div>
        <small>
          Singapore
        </small>
      </div>
      <div class="col-sm-1">
        <div class="flag-height">
          <img class="flag grey" alt="Malaysia" title="Malaysia" src="{{ site.img }}my.png">
        </div>
        <small>
          Malaysia
        </small>
      </div>
      <div class="col-sm-1">
        <div class="flag-height">
          <img class="flag grey" alt="เมืองไทย" title="เมืองไทย" src="{{ site.img }}th.png">
        </div>
        <small>
          เมืองไทย
        </small>
      </div>
    </div>
  </div>
</div>

<div class="subsection first">
  <div class="container">

    <h2>What our clients have to say about us...</h2>

    {% assign testimonial = site.testimonial %}
    {% for testimonial in testimonial %}

    <div class="section center last">
      <div class="row">
        <div class="col-sm-1 portrait">

          <img src="{{ site.testimonial_img }}{{ testimonial.portrait }}" alt="{{ testimonial.person }}" title="{{ testimonial.person }}" class="img-circle">

        </div>
        <div class="col-sm-11">

          <h3 class="testimonial-excerpt">"{{ testimonial.excerpt }}"</h3>

          <div class="columns-3">{{ testimonial.content }}</div>

          <div class="rating">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </div>

          <p>{{ testimonial.person }}
            <br>
            <small>{{ testimonial.client }}, {{ testimonial.city }}, {{ testimonial.country }} |
              <a href="{{ site.baseurl }}/portfolio/entry/{{ testimonial.project }}">
                <strong>View</strong> their Project</a>
            </small>

        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</div>

{% include get-in-touch.html %}
