---
layout: page-custom
title: About
pagetitle: The DKKMA Advantage
slogan: What makes us the best choice for your website design and development projects?
permalink: /about/
name: about
---

<div class="container">

  <h3>Our Past</h3>

  <p>DKKMA&rsquo;s creative roots encompass each individual that contributes to our distinct, vibrant culture and work. Our initial projects were focused on web design and branding but we soon realized that everything goes hand in hand: A proper web design, strong connection to clients via extensive social networks, movie production and original branding unify and wrap up our vision of the company.</p>

  <div class=" text-center centered">
    <div class="row">
      <div class="col-sm-3">
        <img src="{{ site.img }}about_on-time.png" alt="Always on Time">
        <h3>On Time</h3>
        <p>With many years of experience and a comprehensive set of tools, we manage our time more efficiently and get the job done.</p>
      </div>
      <div class="col-sm-3">
        <img src="{{ site.img }}about_around-the-clock.png" alt="Around the Clock">
        <h3>Around the clock</h3>
        <p>A successfull project starts with great communication. We are always here to make sure that no questions are left unanswered.</p>
      </div>
      <div class="col-sm-3">
        <img src="{{ site.img }}about_trust.png" alt="DKKMA is a Trusted Partner.">
        <h3>Trusted</h3>
        <p>Over the past 9 years we have proven that our clients can rely on both, our knowledge and tools. You won't be disappointed!</p>
        </div>
      <div class="col-sm-3">
        <img src="{{ site.img }}about_long-term.png" alt="We are in this for the long-term!">
        <h3>Long-term</h3>
        <p>We are in this for the long run. A great relationship starts with the very first project and lasts for years to come.</p>
      </div>
    </div>
  </div>

      <h3>Our Message</h3>

      <div class="row about">
        <div class="col-sm-12">
          <p>It doesn&rsquo;t matter where we begin our journey together; all that matters is creativity, belief, technology, media and commitment to make your brand special and more valuable.</p>
        </div>
      </div>

      <div class="row about">
        <div class="col-sm-3"><img alt="A man in a Darkroom" src="/assets/images/darkroom.jpg" style="margin-top: 24px; margin-bottom: 20px;"></div>

          <div class="col-sm-9">
            <h3>Our Name</h3>

            <p><col-sm- style="color: #58585B;">dkkma; dunkelkammer</col-sm->, english: darkroom</p>

            <p>"A darkroom is a room that can be made completely dark to allow the processing of light sensitive photographic materials, including photographic film and photographic paper. Darkrooms have been created and used since the inception of photography in the early 19th century." - Quote <a href="http://en.wikipedia.org/wiki/Darkroom">Wikipedia</a></p>
          </div>

      </div>

</div>

{% include portfolio-excerpt.html %}

{% include get-in-touch.html %}
