---
layout: page-custom
title: Services
pagetitle: Our Strength
excerpt: "DKKMA is a business growth agency. We help companies grow with complementary design, development and inbound marketing services"
slogan: ExpressionEngine development coupled with Inbound Marketing goodness.
permalink: /services/
---

{% include servicenav.html %}

<div class="container">

  <div class="row text-center" style="margin-top: 40px;">
    <div class="col-sm-4 col-sm-offset-1">
      <img alt="digital marketing" src="{{ site.img }}digital-marketing.png">
      <h2>Digital campaigns &amp; integrated marketing.</h2>

      <p>We create meaningful marketing programs for our clients based on audience insights and analysis of user needs. The result is a clear strategy and creative ideas implemented across all relevant channels, driving awareness, enabling new behavior,
        and creating revenue.</p>
    </div>

    <div class="col-sm-4 col-sm-offset-2">
      <img alt="ecommerce" src="{{ site.img }}ecommerce.png">
      <h2>Websites &amp; e-commerce.</h2>

      <p>DKKMA has created influential digital experiences, generating more than $1 million in new revenue for our clients each year. Our work includes e-commerce, content and community sites, as well as Web applications, intranets, and brand platforms.</p>
    </div>
  </div>

  <hr/>
  <div class="row text-center" style="margin-top: 40px;">
    <div class="col-sm-4 col-sm-offset-1">
      <img alt="social media" src="{{ site.img }}social-media.png">
      <h2>Social media.</h2>

      <p>DKKMA connects brands with consumers by building communities, reaching influencers, and developing exceptional, user-centric content. Our expertise stretches from social business strategy to content development, community management, application
        builds, and API integration.</p>
    </div>

    <div class="col-sm-4 col-sm-offset-2">
      <img alt="mobile platform" src="{{ site.img }}mobile-platform.png">
      <h2>Mobile &amp; emerging platforms.</h2>

      <p>DKKMA is recognized as one of the industry&rsquo;s leading agencies in mobile design and development. Our expertise extends from building mobile websites to applications for tablets and mobile devices.</p>
    </div>
  </div>

  <hr/>
  <div class="row text-center" style="margin-top: 40px;">
    <div class="col-sm-4 col-sm-offset-1">
      <img alt="content development" src="{{ site.img }}content-development.png">
      <h2>Content development.</h2>

      <p>Digital properties depend on exceptional content to be valuable to their users. DKKMA creates the video, photography, animation, and editorial content required for vibrant digital communication and ensures it reaches its target audiences through
        search, syndication, and promotion.</p>
    </div>

    <div class="col-sm-4 col-sm-offset-2">
      <img alt="branding &amp; identity system" src="{{ site.img }}branding-identity.png">
      <h2>Branding &amp; identity systems.</h2>

      <p>DKKMA helps companies create and evolve brands that resonate with target audiences and create long-term competitive advantages in the marketplace. We help translate strategy into clear, visual brand attributes that are built to work in a multi-channel
        digital environment.</p>
    </div>
  </div>

</div>

{% include get-in-touch.html %}
