<p><small>Follow DKKMA</small><br>
<a href="https://twitter.com/intent/user?screen_name=DKKMA">Twitter</a><br>
<a href="https://plus.google.com/+DKKMA-EU">Google+</a></p>

<p><small>Subscribe</small><br>
<a href="http://feeds.feedburner.com/DkkmaBlog">Subscribe via RSS</a>

<!--

  <div class="intro">

    <p class="details">

      <strong>Follow DKKMA</strong><br>
      <span class="light"><a href="https://twitter.com/intent/user?screen_name=DKKMA">Twitter</a></span><br>
      <span class="light"><a href="https://plus.google.com/+DKKMA-EU">Google+</a></span><br>
      <br>
      <strong>Subscribe</strong><br>
      <span class="light"><a href="http://feeds.feedburner.com/DkkmaBlog">Subscribe via RSS</a></span><br>

    </p>

  </div>

-->
