<p>
  <small>Follow DKKMA</small>
  <br>
  <a href="https://twitter.com/intent/user?screen_name=DKKMA">Twitter</a>
  <br>
  <a href="https://plus.google.com/+DKKMA-EU">Google+</a>
</p>

<p>
  <small>Subscribe</small>
  <br>
  <a href="http://feeds.feedburner.com/DKKMA">Subscribe via RSS</a>

  <hr>

  <div class="sidebar-subscribe">
    <p><small>Join to receive our free, weekly Inbound Marketing Publication</small></p>

    <form action="http://campaign.dkkma.com/t/i/s/jtuiid/" method="post" id="subForm">
      <div class="form-group">
        <input id="fieldEmail" name="cm-jtuiid-jtuiid" type="email" class="form-control" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-default">Subscribe</button>
    </form>
  </div>

</p>
