<footer id="footer" class="site-footer">

  <div class="container">

    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-2">
            <img class="grayscale" style="margin-top: 16px; max-width: 70px;" src="https://www.dkkma.com/assets/images/made-in-creative-uk-footer.png" alt="Made in creative UK" pagespeed_url_hash="237627020" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
          </div>
          <div class="col-sm-9" style="margin-left: -20px;">
            <h3><a style="text-transform: uppercase;" href="https://www.dkkma.com/about">DKKMA - A Full Service, Fully Integrated Creative Business Growth Agency</a></h3>
            <p>We blend best practices of design, technology and branding to create a modern, interactive experience. We care deeply about the needs of our clients and put our hearts and creative minds to work to create something that will be of immense
              value.
            </p>
          </div>
        </div>

        <div style="margin-top: 30px;">
          <a href="https://www.facebook.com/dkkma">
            <img class="grayscale socialfooter" src="https://www.dkkma.com/assets/images/social/facebook.png" alt="Facebook" pagespeed_url_hash="1261912618" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
          </a>
          <a href="https://twitter.com/dkkma">
            <img class="grayscale socialfooter" src="https://www.dkkma.com/assets/images/social/twitter.png" alt="Twitter" pagespeed_url_hash="2307609849" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
          </a>
          <a href="https://plus.google.com/+Dkkma-EU/" rel="publisher">
            <img class="grayscale socialfooter" src="https://www.dkkma.com/assets/images/social/googleplus.png" alt="GooglePlus" pagespeed_url_hash="1561658019" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
          </a>
          <a href="http://www.linkedin.com/company/dunkelkammer-agency-dkkma-?trk=company_name">
            <img class="grayscale socialfooter" src="https://www.dkkma.com/assets/images/social/linkedin.png" alt="LinkedIn" pagespeed_url_hash="3712216426" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
          </a>
          <a href="https://www.dkkma.com/pages/contact">
            <img class="grayscale socialfooter" src="https://www.dkkma.com/assets/images/social/email.png" alt="Contact" pagespeed_url_hash="1096838722" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
          </a>
        </div>

        <div style="margin-top: 100px;">
          <a class="footer-brand" href="https://www.dkkma.com/">
            <img style="max-width: 106px" src="https://www.dkkma.com/assets/images/dkkma-logo-invert.png" alt="DKKMA Logo" pagespeed_url_hash="2593211293" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
          </a>
          <br>
          <p>&copy; 2015 dkkma Limited. All rights reserved, D&amp;B D-U-N-S® Number 219876854 <a class="footerlink" href="https://www.dkkma.com/pages/privacy">Privacy</a>
          </p>
        </div>

      </div>
      <div class="col-sm-2 col-sm-offset-1">

        <h3><a style="text-transform: uppercase;" href="https://www.dkkma.com/contact">Connect with us</a></h3>

        <address>
          <strong>dkkma Limited</strong><br>
          60 Gresham Street<br>
          London, EC2V 7BB<br>
          <abbr title="Phone">P:</abbr> UK +44 20 3318 4908 <br>
        </address>

        <address>
          <strong>Hello UK</strong><br>
          <a href="mailto:hellouk@dkkma.com">hellouk@dkkma.com</a><br>
          <a href="https://plus.google.com/+Dkkma-EU/" rel="publisher">Find us on Google+</a>
        </address>

        <img style="margin-top: 8px; max-width: 136px;" src="https://www.dkkma.com/assets/images/ukwda-member.png" alt="UK Web Designer Association" pagespeed_url_hash="624842321" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">

      </div>
    </div>

    <div hidden class="row">
      <div class="col-sm-12" style="margin-top: 22px;">
      </div>
    </div>

  </div>

</footer>

  <script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/framework.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/scrollReveal.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/jquery.smooth-scroll.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/d3.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/trianglify.min.js" | prepend: site.baseurl }}"></script>

  <script>
    window.sr = new scrollReveal();
  </script>

  <script>
    $('a').smoothScroll({
      speed: 1000,
    });
  </script>

  <script>
    var t = new Trianglify({
      x_gradient: ["#C04848", "#480048"],
      y_gradient: ["#C04848", "#480048"],
      noiseIntensity: 0,
      cellpadding: 10,
      cellsize: 100});
      var pattern = t.generate(document.body.clientWidth, document.body.clientHeight);
      document.getElementById("header").setAttribute('style', 'background-image: '+pattern.dataUrl);
  </script>

  <script>
    var t = new Trianglify({
      x_gradient: ["#303030", "#000000"],
      y_gradient: ["#303030", "#000000"],
      noiseIntensity: 0,
      cellpadding: 10,
      cellsize: 100});
      var pattern = t.generate(document.body.clientWidth, document.body.clientHeight);
      document.getElementById("footer").setAttribute('style', 'background-image: '+pattern.dataUrl);
  </script>

  <script>
    var t = new Trianglify({
      x_gradient: ["#FFF", "#FFF"],
      y_gradient: ["#FFF", "#707070"],
      noiseIntensity: 0,
      cellpadding: 10,
      cellsize: 140});
      var pattern = t.generate(document.body.clientWidth, document.body.clientHeight);
      document.getElementById("get-in-touch").setAttribute('style', 'background-image: '+pattern.dataUrl);
  </script>
