<footer id="footer" class="site-footer">
  <div class="footerbackground">

    <div class="container">

      <div class="row">
        <div class="col-sm-2">

          <p class="footer-subhead">Overview</p>

          <a href="{{ site.baseurl }}/services/">Services</a>
          <br>
          <a href="{{ site.baseurl }}/portfolio/">Portfolio</a>
          <br>
          <a href="{{ site.baseurl }}/about/">About</a>
          <br>
          <a href="{{ site.baseurl }}/blog/">Blog</a>
          <br>
          <a href="{{ site.baseurl }}/contact/">Contact</a>

        </div>
        <div class="col-sm-3">

          <p class="footer-subhead"><a href="{{ site.baseurl }}/services">Services</a></p>

          <a href="{{ site.baseurl }}/services/web-design-and-development/">Web Design & Development</a>
          <br>
          <a href="{{ site.baseurl }}/services/ecommerce/">ExpressionEngine Development</a>
          <br>
          <a href="{{ site.baseurl }}/contact/">Inbound Marketing Consultation</a>
          <br>
          <br>
          <a href="{{ site.baseurl }}/dev/">Development Tips</a>

        </div>
        <div class="col-sm-5 text-center">
          <img class="footer-logo" src="{{ "dkkma-logo_white.svg" | prepend: site.svg }}" alt="DKKMA Logo">
        </div>
        <div class="col-sm-2">

          <p class="footer-subhead"><a href="{{ site.baseurl }}/contact/">Connect with us</a></p>

          <address>
            <span class="strong">dkkma Limited</span>
            <br> 60 Gresham Street
            <br> London, EC2V 7BB
            <br>
            <abbr title="UK">UK</abbr> +44 20 3318 4908
            <br>
            <abbr title="US">US</abbr> +1 646 693 7132
            <br>
          </address>

          <address>
            <span class="strong">Hello UK</span>
            <br>
            <a href="mailto:hellouk@dkkma.com">hellouk@dkkma.com</a>
            <br>
            <a href="https://twitter.com/DKKMA" rel="publisher">Tweet at us</a>
            <br>
            <a href="https://plus.google.com/+Dkkma-EU/" rel="publisher">Find us on Google+</a>
          </address>

        </div>
      </div>

      <p>&copy; 2015 dkkma Limited. All rights reserved, D&amp;B D-U-N-S® Number 219876854 <a class="footerlink" href="{{ site.baseurl }}/privacy/">&nbsp Privacy</a>

    </div>

  </div>

</footer>

<script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/thirdparty.min.js" | prepend: site.baseurl }}"></script>

<script>
  ! function(g, s, q, r, d) {
    r = g[r] = g[r] || function() {
      (r.q = r.q || []).push(
        arguments)
    };
    d = s.createElement(q);
    q = s.getElementsByTagName(q)[0];
    d.src = '//d1l6p2sc9645hc.cloudfront.net/tracker.js';
    q.parentNode.
    insertBefore(d, q)
  }(window, document, 'script', '_gs');

  _gs('GSN-044170-O');
</script>

<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-38450442-1', 'auto');
  ga('send', 'pageview');
</script>

{% if page.url contains "contact" %}
<script>
  $(function() {
    $(".typeit").typed({
      strings: ["Tell us more about your project!", "Hi, "],
      contentType: 'text',
      typeSpeed: 0,
      startDelay: 1500,
      backDelay: 1000,
      showCursor: false,
    });
  });
</script>
{% endif %} {% if page.url contains "blog" %}
<script src="/assets/js/highlight.pack.js"></script>
<script>
  $(document).ready(function() {
    $('code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
</script>

<div id="fb-root"></div>
<script async defer>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=920782367956128&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<script async defer>
  ! function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = p + '://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, 'script', 'twitter-wjs');
</script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endif %} {% if page.url contains "dev" %}
<div id="fb-root"></div>
<script async defer>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=920782367956128&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<script async defer>
  ! function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = p + '://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, 'script', 'twitter-wjs');
</script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endif %}

<script>
  jQuery(document).ready(function($) {
    $("#saveForm").click(function() {
      $first_name = $('#Field1').val();
      $last_name = $('#Field2').val();
      $email = $('#Field3').val();
      $company_name = $('#Field5').val();
      $id = $email;
      // the user ID from your database
      var userID = $id;
      var properties = {
        id: userID,
        first_name: $first_name,
        last_name: $last_name,
        email: $id,
        company_name: $company_name
      };
      _gs('identify', userID, properties);
    });
  });

  _gs('properties', props);
</script>

{% if page.url == "/services/inbound-marketing/" %}
<script src="{{ "/assets/js/charts.js" | prepend: site.baseurl }}"></script>
{% endif %}
{% if page.url == "/contact/" %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet' />
<script>
// Provide your access token
L.mapbox.accessToken = 'pk.eyJ1IjoiZGtrbWEiLCJhIjoiU05aOVdrRSJ9._Ahj-qQ5cCyLUCM2dp4tAw';
// Create a map in the div #map
L.mapbox.map('contactpage', 'dkkma.ljdb9ch0')
.setView([51.516, -0.095], 14);
</script>
{% endif %}

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0031/5458.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
