<div id="get-in-touch">
  <div class="subsection get-in-touch">
    <div class="container">

      <p class="section-heading">
        {% if page.url == "/services/inbound-marketing/" %}
        Are you looking for an Inbound Marketing Consultant? Let's get in touch!
        {% elsif page.url == "/services/expressionengine-developer/" %}
        Are you looking for a Expert ExpressionEngine Developer? Let's get in touch!
        {% elsif page.url == "/services/web-design/" %}
        Are you looking for a Web Designer & Developer? Let's get in touch!
        {% else %}
        In the right place, at the right time. Let's get in touch!
        {% endif %}
        <br>
        <small>We will get back to you within 2 business hours.</small>
      </p>

      <form data-parsley-validate id="form74" name="form74" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://dunkelkammer.wufoo.eu/forms/pth0tvg0l7f3f4/#public">

        <input type=hidden id="Field9" maxlength="255" name="Field9" value="https://www.dkkma.com{{ page.url }}" type="text">
        <input type=hidden id="Field10" maxlength="255" name="Field10" value="Web" type="text">

        <li class="hide">
          <label for="comment">Do Not Fill This Out</label>
          <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
          <input type="hidden" id="idstamp" name="idstamp" value="pecmT6FYxhGGzRAJkZcEtoPlq2gcP/k9nNgRuLFadxk=" />
        </li>

        <div class="natural-language">
          Hi, my name is
          <input data-parsley-ui-enabled="false" id="Field1" name="Field1" type="text" class="form" placeholder="Your Name" required>. I'm with
          <input data-parsley-ui-enabled="false" name="Field5" id="Field5" type="text" class="form" placeholder="Company name" required>. We are looking for a

          <select data-parsley-ui-enabled="false" id="Field18" name="Field18" class="form upsize">
            {% if page.url == "/services/inbound-marketing/" %}
            <option value="Inbound Marketing Consultant">Inbound Marketing Consultant</option>
            <option value="Web Designer">Web Designer</option>
            <option value="Web Developer">Web Developer</option>
            <option value="ExpressionEngine Expert">ExpressionEngine Expert</option>
            <option value="App Designer">App Designer</option>
            <option value="Multiple Services">Multiple Services</option>
            <option value="General Enquiry">General Enquiry</option>
            {% elsif page.url == "/services/expressionengine-developer/" %}
            <option value="ExpressionEngine Expert">ExpressionEngine Expert</option>
            <option value="Web Designer">Web Designer</option>
            <option value="Web Developer">Web Developer</option>
            <option value="Inbound Marketing Consultant">Inbound Marketing Consultant</option>
            <option value="App Designer">App Designer</option>
            <option value="Multiple Services">Multiple Services</option>
            <option value="General Enquiry">General Enquiry</option>
            {% else %}
            <option value="Web Designer">Web Designer</option>
            <option value="Web Developer">Web Developer</option>
            <option value="ExpressionEngine Expert">ExpressionEngine Expert</option>
            <option value="Inbound Marketing Consultant">Inbound Marketing Consultant</option>
            <option value="App Designer">App Designer</option>
            <option value="Multiple Services">Multiple Services</option>
            <option value="General Enquiry">General Enquiry</option>
            {% endif %}
          </select>

          who can help us achieve our vision. You can reach me at
          <input data-parsley-ui-enabled="false" id="Field3" name="Field3" type="email" class="form" placeholder="Your Email" required>.

          <div class="collapse" id="expandmessage">
            <textarea data-parsley-ui-enabled="false" name="Field7" id="Field7" class="form" rows="3" placeholder="What's on your mind?"></textarea>
          </div>

          <div class="bottom">

            <button class="btn btn-default" id="saveForm" name="saveForm" type="submit" value="Submit" tabindex="6">Send Message</button>
            <a data-toggle="collapse" href="#expandmessage" aria-expanded="false" aria-controls="expandmessage">
              <small>&nbsp; Wait, I've got something else to say!</small>
            </a>

          </div>

        </div>
      </form>

    </div>
  </div>
</div>
