<div id="get-in-touch">
  <div class="subsection get-in-touch">
    <div class="container">
      {% if page.url == "/services/expressionengine-developer/" %}
      <p class="section-heading">
        Are you looking for a Expert ExpressionEngine Developer?
        <br>
        <small>Let's get in touch!</small>
      </p>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="cta-box">
              <div class="row">
                <div class="col-sm-5 col-sm-offset-1 individual-box left">
                  <div class="content-box">
                    <p class="headline">A polished website that helps generate more leads for your business.</p>
                    <a href="/offers/expressionengine-website-development-project-enquiry/" class="btn link-a white">
                      Business Website Enquiry
                    </a>
                  </div>
                </div>
                <div class="col-sm-5 individual-box right">
                  <div class="content-box">
                    <p class="headline">A powerful platform to showcase your real estate properties - however you want it.</p>
                    <a href="/offers/real-estate-website-development-project-enquiry/" class="btn link-a white">
                      Real Estate Website Enquiry
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if page.url == "/services/web-design/" %}
      <p class="section-heading">
        Are you looking for a Web Designer & Developer? Let's get in touch!
        <br>
        <small>We will get back to you within 2 business hours.</small>
      </p>
      {% endif %}
      {% if page.url == "/services/inbound-marketing-consultation/" %}
      <p class="section-heading">
        What are you waiting for? Start growing your business now!
        <br>
        <small>We will get back to you within 2 business hours.</small>
      </p>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="cta-box">
              <div class="row">
                <div class="col-sm-5 col-sm-offset-1 individual-box left">
                  <div class="content-box">
                    <p class="headline">Get a Free Inbound Marketing Assessment</p>
                    <p>Do you want to know how to optimize your website to get more traffic and leads?</p>
                    <a href="/offers/inbound-marketing-assessment/" class="btn link-a white">
                      Get your free assessment
                    </a>
                  </div>
                </div>
                <div class="col-sm-5 individual-box right">
                  <div class="content-box">
                    <p class="headline">Get in touch with an Inbound Marketing Specialist</p>
                    <p>Send us some details and we'll be in touch within 2 business hours.</p>
                    <a href="/offers/inbound-marketing-specialist/" class="btn link-a white">
                      Start growing your business
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
