<div id="get-in-touch">
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>What challenges are you facing?</h2>

      <p>We will get back to you within 12 hours. </p>

      <form class="form-inline" id="form74" name="form74" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://dunkelkammer.wufoo.eu/forms/pth0tvg0l7f3f4/#public">

        <input type=hidden id="Field9" maxlength="255" name="Field9" value="https://www.dkkma.com/services" type="text">
        <input type=hidden id="Field10" maxlength="255" name="Field10" value="Web" type="text">
        <li class="hide">
          <label for="comment">Do Not Fill This Out</label>
          <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
          <input type="hidden" id="idstamp" name="idstamp" value="pecmT6FYxhGGzRAJkZcEtoPlq2gcP/k9nNgRuLFadxk="/>
        </li>

        <div class="row">
          <div class="col-sm-10">

            <div class="form-group">
              <label class="sr-only" for="First Name">First Name*</label>
              <input id="Field1" name="Field1" type="text" class="form-control" placeholder="First Name*" required>
            </div>
            <div class="form-group">
              <label class="sr-only" for="Last Name">Last Name*</label>
              <input id="Field2" name="Field2" type="text" class="form-control" placeholder="Last Name*" required>
            </div>
            <div class="form-group">
              <label class="sr-only" for="Email">Email*</label>
              <input id="Field3" name="Field3" type="email" class="form-control" placeholder="Enter email*" required>
            </div>
            <div class="form-group">
              <label class="sr-only" for="Company">Company*</label>
              <input id="Field5" type="text" name="Field5" class="form-control" placeholder="Company*" required>
            </div>
            <br>
            <label class="sr-only" for="Company">Message*</label>
            <textarea name="Field7" id="Field7" class="form-control" style="max-width: 721px;" rows="2" placeholder="Message"></textarea>

          </div>
          <div class="col-sm-2">

            <button id="saveForm" name="saveForm" type="submit" value="Submit" class="btn btn-default" style="float: right;">Let's talk</button>

          </div>
        </div>

      </form>

    </div>
  </div>
</div>
</div>
