<div class="container portfolio-old excerpt">
  <h3>Recently completed projects</h3>
  <div class="row ">
    {% assign portfolio = site.portfolio | sort: 'date' | reverse %}
    {% for portfolio in portfolio limit:4  %}
    <div data-sr class="col-md-3 preview">
      <div class="border-bottom">
        <a class="image" href="{{ portfolio.url }}" style="background-image: url({{ site.project_img }}{{ portfolio.thumbnail }})"><div class="overlay"></div></a>
        <a href="{{ portfolio.url }}" target="_self">in <strong>{{ portfolio.category | join: ', '}}</strong></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
