<div class="section dark">
  <div class="container">
    <div class="subscribe-inbound-blog">
      <p class="title">Grow your business, learn from the best!</p>

      <p>Carefully curated insider knowledge for the busy marketer and entrepreneur: Stay on Top of the Latest Marketing Tips, Trends, and Best Practices (Weekly)</p>

      <form action="https://dkkma.createsend.com/t/i/s/jtuiid/" method="post" id="subForm" class="form-inline inbound-sign-up">
        <div class="form-group">
          <label class="sr-only" for='fieldEmail'>Email</label>
          <input type="email" class="form-control" id="fieldEmail" name="cm-jtuiid-jtuiid" style="min-width:230px;" placeholder="Enter your email address">
        </div>
        <input class="btn clear" type="submit" value='Subscribe'/>
      </form>
    </div>
  </div>
</div>
