@import url("framework.min.css");

body {
  min-height: 1000px;
  font-family: "proxima-nova",sans-serif;
  font-size: 14px;
  color: #202020;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -o-font-smoothing: antialiased !important;
  -ms-font-smoothing: antialiased !important;
  border-top: 4px solid #202020;
}

.container {
  max-width: 1100px;
}

.h1, h1 {
  font-size: 30pt;
}

.blog p.meta {
  margin-bottom: 0px;
}

.blog p.meta.sub {
  margin-top: 10px;
}

.blog .title {
  margin-top: 0px;
  margin-bottom: 10px;
}

.blog .cover {
  margin-bottom: 10px;
}

.post .cover {
  margin-bottom: 20px;
}

.post .meta {

}

.post .title {
  margin-bottom: 0;
  font-size: 28px;
  margin-top: 0;
}

.post a {
  text-decoration: underline;
}

h3 {
  font-size: 34px;
  font-weight: 300;
  margin-top: 40px;
}

.post h3 {
  margin-top: 40px;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.post h4 {
  margin-top: 26px;
}

.post img {
  margin-top: 12px;
  margin-bottom: 12px;
}

.centered h4 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

.blog .title.sub {
  margin-bottom: 0px;
}

.blog .meta.sub {
  margin-bottom: 10px;
}

.site-footer {
  min-height: 260px;
  color: #fff;
  background-image: url(https://dvxyu2dxv3uua.cloudfront.net/assets/images/background/background.jpg?1502161602);
  background-size: cover;
}

img.grayscale {
  filter: gray;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .6s ease;
  -webkit-backface-visibility: hidden;
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.site-footer a {
  color: #FFF;
  text-decoration: none;
}

.site-footer h3 {
  font-size: 14px;
}

.footerbackground {
  background-color: rgba(32, 32, 32, 0.7);
  padding-top: 20px;
  padding-bottom: 20px;
}

.socialfooter {
  width: 26px;
  height: 26px;
  margin-right: 3px;
}

.site-footer .container {
}

#get-in-touch {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: -20px;
  background-image: url(https://dvxyu2dxv3uua.cloudfront.net/assets/images/background/background_grey.png);
  background-size: cover;
}

.site-header {
  min-height: 80px;
  padding-top: 10px;
  z-index: 200;
  position: relative;
}

#splash {
  background-size: cover;
}


#header {
  min-height: 196px;
  max-height: 1000px;
}

.sub .site-header {
}

.sub .site-header li a:hover {
  text-decoration: none;
  color: #B13F48;
  text-shadow: none;
}

.site-header .logo {
  width: 120px;
  height: 31px;
  float: left;
  margin-top: 20px;
  background: url(https://dvxyu2dxv3uua.cloudfront.net/assets/images/logo.png);
  background-size: 120px 31px;
  color: #FFF;
}

.sub .site-header .logo {
  background: url(https://dvxyu2dxv3uua.cloudfront.net/assets/images/logo-dark.png);
  background-size: 120px 31px;
}

.site-header .nav {
  margin-top: 24px;
}

.site-header li {
  float: right;
  margin-left: 40px;
  list-style: none;
}

.site-header li a {
  color: #FFF;
  font-family: "proxima-nova",sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 2px #202020;
}

.sub .site-header li a {
  color: #202020;
  text-shadow: none;
}

.site-header li a:hover {
  text-decoration: none;
  color: #B13F48;
  text-shadow: 1px 1px 2px #ADADAD;
}

.site-header li .active {
  color: #B13F48;
}

.page-header {
  text-align: center;
  margin: 0px 0 0px;
  border-bottom: 1px solid #EEE;
  background: #480048;
  background-color: #480048;
  background: -webkit-linear-gradient(149deg, #C04848 10%, #480048 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(149deg, #C04848 10%, #480048 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(149deg, #C04848 10%, #480048 90%); /* IE10 */
  background:      -o-linear-gradient(149deg, #C04848 10%, #480048 90%); /* Opera 11.10+ */
  background:         linear-gradient(149deg, #C04848 10%, #480048 90%); /* W3C */
  color: #FFF;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px #202020;
  background-image: url(https://dvxyu2dxv3uua.cloudfront.net/assets/images/background/background.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom:0px;
}

.page-header .page-title {
  font-family: "merriweather",serif;
  font-size: 46px;
  font-weight: 500;
}

.h2, h2 {
  font-size: 30px;
  font-weight: 300;
}

.page-header h2 {
  font-family: "merriweather",serif;
}

.text-center h2 {
  margin-bottom: 20px;
}

.page-header .page-slogan {
  margin-top: 0px;
  font-size: 20px;
}

.page-content {
}

.site-header .contact {
  color: #202020;
  padding-top: 10px;
  min-height: 40px;
  border-bottom: 1px solid #EEE;
  font-size: 12px;
}

.site-header .contact a {
  color: #202020;
}

.home .site-header .contact {
  color: #FFF;
  padding-top: 10px;
  min-height: 40px;
  border-bottom: 1px solid #FFF;
  font-size: 12px;
}

.home .site-header .contact a {
  color: #fff;
}

.page-content a {
  color: #B13F48;
}

.site-footer a {
  color: #FFF;
}

.call-out {
  font-family: "league-gothic",sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 120px;
}

.call-out-home {
  font-family: "merriweather",serif;
  font-size: 48px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  min-width: 680px;
}

.call-out-link {
  float: right;
  font-size: 20px;
  margin-top: -15px;
  color: #fff;
  font-family: "proxima-nova",sans-serif;
}

.call-out-sub {

}

.call-out-sub-home {

}

.call-out-sub-home li {
  float: left;
  margin-left: 20px;
  list-style: none;
  color: #fff;
}

.subsection {
  margin-top: 60px;
  border-top: 1px solid #EEE;
}

.subsection .preview {
  margin-top: 40px;
}

.subsection .preview .image {
  margin-bottom: 10px;
  height: 105px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 245px 105px;
  background-size: cover;
  background-position: center center;
  display: block;
}

.image .overlay:hover {
  position: relative;
  top: 0;
  width: 100%;
  height: 105px;
  background: rgba(0, 0, 0, 0.4);
  transition: all 1s;
  -webkit-transition: all 1s;
}

.image.large .overlay:hover {
  position: relative;
  top: 0;
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.1);
  transition: all 1s;
  -webkit-transition: all 1s;
}

.image.large .overlay {
  position: relative;
  top: 0;
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0);
  transition: all 1s;
  -webkit-transition: all 1s;
}

.image .overlay {
  position: relative;
  top: 0;
  width: 100%;
  height: 105px;
  background: rgba(0, 0, 0, 0);
  transition: all 1s;
  -webkit-transition: all 1s;
}

.portfolio-old .preview {
  margin-bottom: 20px;
}

.portfolio-old.excerpt {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid #EEE;
}

.portfolio-old .preview .image {
  margin-bottom: 10px;
  min-height: 105px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: block;
}

.portfolio-old .preview .image.large {
  margin-bottom: 10px;
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: block;
}

.subsection .preview a {
  color: #202020;
}

.subsection .title {
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}

.portfolio .preview .image {
  margin-bottom: 10px;
  min-height: 138px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: block;
  position: relative;
}

.portfolio .preview .image.image-large {
  margin-bottom: 10px;
  min-height: 304px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: block;
}

.portfolio-overlay .portfolio-excerpt {
  color: #FFF;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 6px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.portfolio-overlay:hover .portfolio-excerpt {
  background-color: rgba(0, 0, 0, 0);
}

.portfolio-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

.portfolio-overlay:hover {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
}

.splash-full-height {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
  margin-top: -80px;
  background: #480048;
  background-color: #480048;
  background: -webkit-linear-gradient(149deg, #C04848 10%, #480048 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(149deg, #C04848 10%, #480048 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(149deg, #C04848 10%, #480048 90%); /* IE10 */
  background:      -o-linear-gradient(149deg, #C04848 10%, #480048 90%); /* Opera 11.10+ */
  background:         linear-gradient(149deg, #C04848 10%, #480048 90%); /* W3C */
  min-height: 700px;
  background-image: url(https://dvxyu2dxv3uua.cloudfront.net/assets/images/background/background.jpg);
  background-size: cover;
  text-shadow: 1px 1px 2px #202020;
}

.splash-full-height .page-slogan {
  margin-top: 0px;
}

.splash-full-height .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-full-height .see-more {
  transform: translateX(-50%);
  bottom: 2.5%;
  display: inline-block;
  left: 50%;
  padding: 20px;
  position: absolute;
  white-space: nowrap;
  z-index: 2;
}

.splash-full-height .see-more a {
  color: rgba(255, 255, 255, 0.7);
}

.row2 {
  margin-top:18px;
}

img {
  max-width: 100%;
}

.project .preview {
  margin-bottom: 20px;
}

.project .intro {
  text-align: center;
  border-top: 1px solid #EEE;
  padding-top: 20px;
}

.project .intro h2 {
  font-size: 40px;
}

.project .intro .details {
  text-align: left;
}

.project .intro .details .light {
  color: #606060;
}

.project .content {
  border-top: 1px solid #EEE;
  padding-top: 20px;
}

.project .content img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-content {
  margin-bottom: 20px;
}

.project .cover {
  text-align: center;
}

.project .cover h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-default {
  color: #FFF;
  background-color: #B13F48;
  border-color: #B13F48;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: #202020;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #B13F48;
}

.page-header-services {
  height: 230px;
  background-size: cover;
  color: #202020;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 240px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.page-header-services .page-title {
  font-family: "merriweather",serif;
  font-size: 60px;
}

.page-header-services .page-slogan span, .page-header-services .page-title span {
  background-color: rgba(51, 51, 51, 0.8);
  color: #FFF;
  padding-left: 10px;
  padding-right: 10px;
}

.page-header-services .page-slogan {
  margin-top: 0;
}

.site-header li.active a {
  color: #B13F48;
}

.servicenav {
  margin-bottom: 10px;
  padding-bottom: 20px;
  margin-top: -10px;
  border-bottom: 1px solid #EEE;
  font-family: "proxima-nova",sans-serif;
}

.servicenav .nav-pills>li>a {
  border-radius: 4px;
  color: #202020;
  background-color: #FFF;
  border: 1px solid #EEE;
  margin-left: 20px;
  font-weight: bold;
}

.servicenav .nav>li>a:focus, .nav>li>a:hover {
  color: #B13F48;
  background-color: #FFF;
  border: 1px solid #B13F48;
}

.nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .servicenav .nav-pills>li.active>a {
  color: #B13F48;
  background-color: #FFF;
  border: 1px solid #B13F48;
}

@media (max-width: 992px) {
.call-out-home {
  min-width: 100px;
  font-size: 28px;
  margin-top: 0px;
}
.splash-full-height .center {
  left: 5%;
}
.splash-full-height {
}
.subsection {
  margin-top: 20px;
  border-top: none;
}
.col-sm-1.portrait {
  text-align: center;
}
.portrait .img-circle {
  margin-bottom: 20px;
}
#get-in-touch {
  padding-top: 0px;
  padding-bottom: 40px;
}
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #DDD;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: rgba(221, 221, 221, 0.2);
}

.mobilenav .navbar-default {
  background-color: #202020;
  border-color: #202020;
  border-radius: 5px;
  z-index: 200;
  margin-top: 20px;
}

.mobilenav .navbar-default .navbar-brand {
  color: #FFF;
}

.mobilenav ul {
  padding-left: 0px;
}

.mobilenav li {
  list-style: none;
  margin-top: 16px;
}

.mobilenav li a {
  color: #FFF;
}

.row.services ul li {
  list-style: none;
  height: 1.5em;
  margin-bottom: .4em;
  border-bottom: 1px solid #E0E1E2;
}

.row.services ul li h4 {
  font-size: 14px;
}

.portfolio-old .border-bottom {
  border-bottom: 1px solid #EEE;
  padding-bottom: 10px;
}

.call-out-header {
  margin-top: 44px;
  margin-bottom: -20px;
}

a.stronglink {
  font-weight: bold;
}

.justify {
  text-align: justify;
}

@media (min-width: 1000px) {
.columns-2 {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count:    2; /* Firefox */
  column-count:         2;
  -webkit-column-gap:   20px; /* Chrome, Safari, Opera */
  -moz-column-gap:      20px; /* Firefox */
  column-gap:           20px;
  column-rule-color: #ccc; /* Optional */
  column-rule-style:solid; /* Optional */
  column-rule-width: 1px; /* Optional */
  text-align: justify; /* Optional */
}

p.4columns {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count:    4; /* Firefox */
  column-count:         4;
  -webkit-column-gap:   20px; /* Chrome, Safari, Opera */
  -moz-column-gap:      20px; /* Firefox */
  column-gap:           20px;
  column-rule-color: #ccc; /* Optional */
  column-rule-style:solid; /* Optional */
  column-rule-width: 1px; /* Optional */
  text-align: justify; /* Optional */
}

.columns-3 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count:    3; /* Firefox */
  column-count:         3;
  -webkit-column-gap:   20px; /* Chrome, Safari, Opera */
  -moz-column-gap:      20px; /* Firefox */
  column-gap:           20px;
  column-rule-color: #ccc; /* Optional */
  column-rule-style:solid; /* Optional */
  column-rule-width: 1px; /* Optional */
  text-align: justify; /* Optional */
}
}

.categories {
  border-bottom: 1px solid #EEE;
  margin-bottom: 20px;
  margin-top: -20px;
  list-style: none;
  padding-bottom: 10px;
}

.categories .nav-pills>li.active>a:focus, .categories .nav-pills>li.active>a:hover, .categories .nav>li>a:hover {
  color: #B13F48;
  background-color: #FFF;
  border: 0px;
}

.categories .nav-pills>li+li {
  margin-left: 22px;
}

.categories .nav-pills>li.active>a, .categories .nav-pills>li.active>a:focus, .categories .nav-pills>li.active>a:hover {
  color: #B13F48;
  background-color: #FFF;
}

.section.blank {
  margin-top: 20px;
  margin-bottom: 40px;
}

.section.blank.background {
  margin-top: 20px;
  padding-top: 60px;
  margin-bottom: 10px;
  padding-bottom: 50px;
  background-color: #B13F48;
  color: #FFF;
}

.large {
  font-size: 180%;
}

.section.center {
  padding-bottom: 42px;
  margin-bottom: 40px;
  border-bottom: 1px solid #EEE;
}

.section.center.last {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 0;
}

.navbar-sidenav .nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px;
}

.nav-pills>li.active>a:hover, .nav>li>a:hover, .navbar-sidebar .nav-pills>li.active>a:focus, .servicenav .nav-pills>li.active>a, .servicenav .nav>li>a:focus {
  color: #B13F48;
  background-color: #FFF;
  border: 1px solid #B13F48;
  border-radius: 4px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #B13F48;
  cursor: default;
  background-color: #FFF;
  border: 1px solid #B13F48;
  border-radius: 4px;
}

#sidenav.affix {
  position: fixed;
  top: 0;
  margin-top: 20px;
}

#sidenav.affix-bottom {
  position: absolute;
}

.centered {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 70px;
  padding-right: 70px;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #FFF;
}

#footer h3 {
  text-transform: uppercase;
}

.page-content .categories a {
  color: #202020;
}

.title a:focus, .title a:hover {
  text-decoration: none;
  color: #B13F48;
}

.title a {
  color: #202020;
}

.row.entry.small {
  padding-top: 30px;
  margin-top: 20px;
  border-top: 1px solid #EEE;
}

.countries {
  margin-top: 20px;
}

.flag-height {
  min-height: 62px;
}

.flag {
  margin-top: 10px;
  margin-bottom: 10px;
}

.flag.grey {

}

h3.first {
  margin-top: 10px;
}

ul.parsley-errors-list.filled {
  list-style: none;
  font-size: 12px;
  padding: 5px;
}

.blackoverlay {
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonial-excerpt {
  font-size: 26px;
  margin-top: 0px;
}

.rating {
  margin-top: 10px;
  margin-bottom: 10px;
}

.share {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

/* This gets Google to fall into place */
.social {
  font-size: 1px;
}

/* This gets Facebook to fall into place */
.social iframe {
  vertical-align: middle;
}

/* Set an optional width for your button wrappers */
.social span {
  display: inline-block;
}

/* Adjust the widths individually if you like */
.social .google {
  width: 66px;
}
.social .twitter {
  width: 66px;
}
.social .facebook {
  width: 58px;
}

.social .linkedin {
  width: 58px;
}

.footer-logo {
  width: 124px;
  height: 32px;
  margin-top: 60px;
}
