---
layout: default
---

<div class="section">
  <div class="post container">

        <div class="row">
          <div class="col-md-12">

            <article class="post-content justify">
              {{ content }}
            </article>

            {% if page.source %}
            <hr>
            <div class="share-attribution">
              <p>Inspired by <a href="{{ page.source }}" target="_blank">{{ page.sourcetitle }}</a></p>
            </div>
            {% endif %}

            <hr>

            {% include social_sharing.html %}

          </div>
        </div>

  </div>
</div>
<div class="section">
  <div class="container">

    <p class="title">Post a comment on
      <br>
      <small>{{ page.title }}</small>
    </p>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'dunkelkammer';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  </div>
</div>
