---
layout: page-custom
---

<div class="container project">

  {% if page.preview != null %}<img class="preview" src="{{ site.project_img }}{{ page.preview }}">{% endif %}

  <div class="row">
    <div class="col-md-3">
      <div class="intro">

        <p class="details">{% if page.project_url != null %} <a href="{{ page.project_url }}">{{ page.project_url }}</a><br> {% endif %}
          {{ page.city }}, {{ page.country }}<br>
          {{ page.technology }}
        </p>

      </div>
    </div>
    <div class="col-md-9 content">
      {{ content }}
    </div>
  </div>

</div>

<div class="container" id="more">
  <div class="subsection">
    <div class="row ">
      {% for portfolio in site.portfolio limit:4 %}
      <div class="col-md-3 preview">
        <a class="image" href="{{ portfolio.url }}" style="background-image: url({{ site.project_img }}{{ portfolio.thumbnail }})"></a>
        <a href="{{ portfolio.url }}">{{ portfolio.excerpt }}</a>
      </div>
      {% endfor %}
    </div>
</div>
